#login { 
    background-image:linear-gradient(to bottom, rgba(16, 108,200 ,0.8) 0%,rgba(0,0,0,0.8) 100%), url('/img/login-backgound.jpg') ; 
    background-repeat: no-repeat;
    background-position: bottom; 
    background-size: cover;
    height: 100vh;
}
#login .register-form{
    color: #fff ; 
    background-color: #106cc8;
    height: 50vh; 
}
#login .login-form{
    min-width: 360px;
}
#login .my-color-button{
       background-color: #106cc8;
       color: white ; 
}